@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');


:root {
    --cl-dark-bg: #1F2937;
    --cl-light-main: #f9faf8;
    --cl-light-normal: #e5e7eb;
    --cl-btn-blue: #3882f6;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;

    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: normal;

    color: var(--cl-light-normal);
}
img {
    max-width: 100%;
    max-height: 100;
}

.container {
    max-width: 1220px;
    margin-inline: auto;
}
section {
    padding: 64px 0;
}


header, .hero {
    background-color: var(--cl-dark-bg);
}
.header__inner, .hero__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__inner {
    padding: 16px 0;
}
.logo {
    font-size: 24px;
    font-weight: bold;
}
ul {
    list-style: none;
    display: flex;
    gap: 32px;
}
ul a {
    text-decoration: none;
    color: var(--cl-light-normal);
}


.hero__text {
    max-width: 40%;
}
.hero__text * + *{
    margin-top: 16px;
}
.hero h1{
    font-size: 48px;
    font-weight: 900;
}
.hero button {
    padding: 8px 32px;
    background-color: var(--cl-btn-blue);
    color: var(--cl-light-main);

    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.hero img{
    max-width: 50%;
    border-radius: 2%;
}